@charset "utf-8";

section {
    position: relative;   
}
section:first-of-type, 
section:last-of-type {
    padding-bottom: 0;
}
section .inner {
    width: 1080px;
    margin: 0 auto;
}
.bg-section {
    height: 100vh;
    background-color: #fff;
    background: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background 1s;
    font-family: 'GowunDodum';
}
.section-sub-title {
    font-size: 20vmin;
    color: #F6B93A;
    font-family: 'DoHyeon';
}




/* header */
.header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(10px);
    background: #1a1a1a03;
    transition: transform 0.3s, visibility 0.3s;
    transform: translateY(0); 
    visibility: visible;
}
.header .inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}
.header.hidden {
    transform: translateY(-100%); /* 메뉴를 화면 밖으로 이동시킵니다 */
    visibility: hidden;
}


/* nav */
.nav-wrap {
    display: flex;
}
.nav-wrap li {
    
}
.nav-wrap li button {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    font-family: 'IBMPlexSansKR';
    margin: 0 32px;
    padding-bottom: 10px;
    color: #fff;
}
.nav-wrap li button:before {
    content: '';
    width: 0%;
    left: 50%;
    transition: all 0.3s ease;
}
.nav-wrap li button:hover {
    color: #F3C565;
}
.nav-wrap li button:hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #F3C565;
    width: 100%;
    height: 8px;
}
.nav-wrap li.on button {
    color: #F3C565;
}
.nav-wrap li.on button::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #F3C565;
    width: 100%;
    height: 8px;
}



/* intro */
.hidden {
    visibility: hidden;
    opacity: 0;
}
.intro {
    position: fixed;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 150;
    display: none;
}
.intro .intro__title {
    color: #F6B93A;
    font-size: 8vmin;
    text-align: center;
    /* mix-blend-mode: difference; */
    z-index: 2;
    opacity: 0;
    animation: introTitle 4.8s forwards;
    animation-delay: 0.5s;
}
.intro .intro__background {
    position: absolute;
    top: 0;
    background-color: #FDE6B2;
    width: 50%;
    height: 100%;
    transform: scaleX(0);
}
.intro .intro__background.intro__background--left {
    left: 0;
    transform-origin: left center;
    animation: 
        introBackgroundScaleX 0.5s ease-in-out 1.5s, 
        introBackgroundScaleY 0.6s ease-in-out 2.5s;
    animation-fill-mode: forwards;
}
.intro .intro__background.intro__background--right {
    left: 50%;
    transform-origin: right center;
    animation: 
        introBackgroundScaleX 0.5s ease-in-out 1.5s, 
        introBackgroundScaleY 0.6s ease-in-out 2.5s;
    animation-fill-mode: forwards;
}


@keyframes introTitle {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-60px);
        opacity: 0;
    }
}


@keyframes introBackgroundScaleX {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes introBackgroundScaleY {
    0% {
        transform: scaleY(1);
        transform-origin: top center;
    }
    100% {
        transform: scaleY(0);
        transform-origin: top center;
    }
}


@keyframes introMove {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}



/* kvisual */
.kvisual {
    height: 100vh;
    background: url(../img/img-kvisual-paint.jpg) no-repeat 0 0 / 100% auto;
    background-attachment: fixed;
}

.kvisual .kivisual-textWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.kvisual .kivisual-textWrap .title {
    /* color: #f29422c2; */
    color: #F6B93A;
    font-size: 18vmin;
    font-family: "DoHyeon";
    display: none;
}


@keyframes kvisualTextMove {
    0% {
        letter-spacing: -1em;
        -webkit-transform: translateZ(-1000px);
                transform: translateZ(-1000px);
        -webkit-filter: blur(15px);
                filter: blur(15px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
    }
}





/* about */
.about .about-wrap {
    position: relative;
    width: 1080px;
    height: 100vh;
    margin: 0 auto;
    background: url(../img/img-about-me.png) no-repeat center / 820px;
    background-attachment: fixed;
}
.about .about-wrap .section-sub-title {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 10%;
    z-index: 30;
}
.about .about-wrap .section-sub-title .title01 {
    position: absolute;
    left: -25%;
}
.about .about-wrap .section-sub-title .title02 {
    position: absolute;
    right: 2%;
    top: 20%;
}
.about .about-wrap .about-desc-wrap {
    position: absolute;
    z-index: 50;
    width: auto;
    font-size: 28px;
    font-family: 'GowunDodum';
    padding: 35px;
}
.about .about-wrap .about-desc-wrap.dw01 {
    top: 40%;
    left: -36%;
}
.about .about-wrap .about-desc-wrap.dw02 {
    top: 50%;
    right: -36%;
}
.about .about-wrap .about-desc-wrap h3 {
    font-size: 36px;
}
.about .about-wrap .about-desc-wrap strong {
    display: inline-block;
    margin: 30px 0;
}
.about .about-wrap .about-desc-wrap p {
    line-height: 40px;
}



/* skill */
.skill {
    height: auto;
}
.skill .skill-wrap {
    position: relative;
    display: flex;
}
.skill .skill-wrap > div {
    flex: 1;
}
.skill .skill-wrap .section-sub-title {
    position: sticky;
    top: 0;
    height: 100vh;
    background: #f5cd5b85;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill .skill-wrap .skill-desc ul li {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}
.skill .skill-wrap .skill-desc ul li dt {
    font-size: 45px;
    margin-bottom: 20px;
}
.skill .skill-wrap .skill-desc ul li dd {
    line-height: 38px;
}


/* work */
.works .section-sub-title {
    position: absolute;
    right: 0;
    bottom: 10%;
    writing-mode: vertical-rl;
}
.works .work-container {
    height: 100%;
}
.works .work-contents-wrap {
    position: relative;
    left: 47%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1440px;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px; */
}
.works .work-contents-wrap .work-items {
    position: relative;
    backdrop-filter: blur(10px);
    width: 450px;
    height: 493px;
    border-radius: 20px;
    overflow: hidden;
    /* padding: 150px; */
}
.works .work-contents-wrap .work-items.long-item {
    /* grid-row: auto / span 2; */
}
.works .work-contents-wrap .work-items .card-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}
.works .work-contents-wrap .work-items .card-inner > div  {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #FCF2D6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.works .work-contents-wrap .work-items:hover .card-inner {
    transform: rotateY(180deg);
}
.works .work-contents-wrap .work-items .card-inner .card-front img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    border-radius: 20px;
}
.works .work-contents-wrap .work-items .card-inner .card-back {
    transform: rotateY(180deg);
}
.works .work-contents-wrap .work-items .card-inner .card-back .work-desc {
    display: flex;
    flex-direction: column;
}
.works .work-contents-wrap .work-items .card-inner .card-back .work-desc .w-title {
    color: #F6B93A;
    font-size: 45px;
    font-weight: 700;
}
.works .work-contents-wrap .work-items .card-inner .card-back .work-desc .w-period {
    margin: 25px 0;
    font-size: 20px;
}
.works .work-contents-wrap .work-items .card-inner .card-back .work-desc .w-explanatory {
    line-height: 24px;
}
.works .work-contents-wrap .work-items .card-inner .card-back .work-desc .w-btn-wrap {
    text-align: center;
}
.works .work-contents-wrap .work-items .card-inner .card-back .work-desc .w-btn {
    position: relative;
    color: #F6B93A;
    background: #fde6b2;
    border-radius: 10px;
    margin-top: 35px;
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    padding: 12px 18px;
    transition: all .3s;
    text-decoration: none;
}
.works .work-contents-wrap .work-items .card-inner .card-back .work-desc .w-btn::before, 
.works .work-contents-wrap .work-items .card-inner .card-back .work-desc .w-btn::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 3px solid #F6B93A;
    border-top: transparent;
    border-left: transparent;
    margin: 1px 0 0 5px;
    transform: rotate(-45deg);
}
.works .work-contents-wrap .work-items .card-inner .card-back .work-desc .w-btn::before {
    position: absolute;
    right: 18px;
    transition: all .3s;
}
.works .work-contents-wrap .work-items .card-inner .card-back .work-desc .w-btn:hover {
    padding-right: 28px;
}
.works .work-contents-wrap .work-items .card-inner .card-back .work-desc .w-btn:hover::before, 
.works .work-contents-wrap .work-items .card-inner .card-back .work-desc .w-btn:hover::after {
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;
    margin-left: 8px;
    right: 20px;
}


@keyframes bounce {
    0% {
      transform: translateX(0) rotate(-45deg);
    }
    5.55556% {
      transform: translateX(0) rotate(-45deg);
    }
    11.11111% {
      transform: translateX(0) rotate(-45deg);
    }
    22.22222% {
      transform: translateX(-6px) rotate(-45deg);
    }
    27.77778% {
      transform: translateX(0) rotate(-45deg);
    }
    33.33333% {
      transform: translateX(-6px) rotate(-45deg);
    }
    44.44444% {
      transform: translateX(0) rotate(-45deg);
    }
    100% {
      transform: translateX(0) rotate(-45deg);
    }
}


/* contact */
.contact .contact-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.contact .contact-wrap .contact-info {
    background: #f6b93ab0;
    height: 100%;
}
.contact .contact-wrap .contact-info ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    width: 1080px;
    margin: 0 auto;
}
.contact .contact-wrap .contact-info ul li {
    padding: 30px;
    background: #ffffff4a;
    border-bottom: 5px solid #ffffff4a;
    font-size: 28px;
    width: 100%;
}
.contact .contact-wrap .contact-info ul li + li {
    margin-top: 40px;
}
.contact .contact-wrap .contact-info ul dl {
    display: flex;
}
.contact .contact-wrap .contact-info ul dl dt {
    margin-right: 38px;
    font-weight: 700;
}




