@charset "utf-8";

/*header*/
header {height: 5.3rem;}
.header1 {display: none;}
.btn_smallmenu {display: block;}
.header2 .inner h1 {float: none; padding: 0; position: absolute; top: 1rem; left: 1rem; z-index: 50;}
.header2 .inner h1 .logo {display: inline-block; width: 13.6rem; height: 3.4rem; background: url(../img/smalllogo.png) no-repeat;}
.menu_bar {display: none;}

/*visual영역*/
/*pagination*/
.visual .slide1 .paging {position: absolute; top: 90%; left: 50%; transform: translate(-50%,-90%); width: 16rem; line-height: 3rem; border-radius: 3rem; text-align: center; z-index: 20; background: rgba(0, 0, 0, 0.43)}
/*visual-text*/
.visual .visual-text {position: absolute; top: 40%; left: 0; right: 0; transform: translate(0,-40%); text-align: center;}
.visual .visual-text h2 span {padding: 0 4rem; font-size: 3.5rem;}
.visual .visual-text p {font-size: 1.6rem; color: #fff; font-weight: 600; line-height: 1.7; padding: 0 1rem;}
/*calender*/
.calender {position: static; height: 21rem; background:#000;}
.calender .inner {width: 100%; padding: 0 16rem; box-sizing: border-box;}
.calender .wrap {text-align: center; color: #fff; position: static; padding: 1.5rem 0 0;}
.calender .wrap p {position:static; padding: 0 0 1.5rem; font-size: 1.6rem;}
/*date*/
.calender .wrap .date {padding: 2rem 0 2rem; position: relative;}
.calender .wrap .date:before {display: none;}
.calender .wrap .date:after {content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: .1rem; background: rgba(255, 255, 255, 0.25);}

/*guide영역*/
.guide .inner {width: 100%; padding: 0 14rem; box-sizing: border-box;}
.guide .guide-list {display: block;}
.guide .guide-list li {flex: none;}
.guide .guide-list li a {display: inline-block; width: 100%; height: 10rem; padding: 2rem 1.5rem 2.5rem; box-sizing: border-box;}
/*guide 안에텍스트*/
.guide .guide-list li a strong {display: inline-block; font-size: 2rem; color: #fff; padding: 0 0 1.5rem;}
.guide .guide-list li a p span {display: inline;}

/*notice영역*/
.notice .inner {width: 100%; padding: 0 14rem; box-sizing: border-box;}
.notice .notice-box {display: block;}
.notice .notice-box h2 {padding: 4rem 0 1.5rem; font-size: 2rem; font-weight: 600; color: #555;}
/*news*/
.notice .notice-box .news {flex:none;}
/*board*/
.notice .notice-box .board {margin-left: 0;}
.notice .notice-box .board img {width: 100%;}

/*addInfo영역*/
.addInfo .inner {width: 100%; padding: 0 14rem; box-sizing: border-box;}
.addInfo .addInfo-list {display: flex; flex-wrap: wrap;}
.addInfo .addInfo-list li {flex: none; width: 50%; text-align: center;}
.addInfo .addInfo-list li:nth-child(even) { border-bottom: .1rem solid #e0e1e4; border-left:.1rem solid #e0e1e4; box-sizing: border-box;}
.addInfo .addInfo-list li:nth-child(odd) {border-top:.1rem solid #e0e1e4;}
.addInfo .addInfo-list li:first-child {border-top: none;}
.addInfo .addInfo-list li~li {border-left:none;}
.addInfo .addInfo-list li a:before {content: ""; position: absolute; top: 1rem; left: 40%; width: 8rem; height: 8rem; background: url(../img/otherinfo01.png) no-repeat;}

/*banner영역*/
.banner .inner {width: 100%; padding: 0 14rem; box-sizing: border-box;}
.banner .bannerSwiper .swiperBanner img {width: 10rem; height: 4.5rem;}

/*footer영역*/
/*topf*/
footer .topf {background: #929398; line-height: 0;}
footer .topf .inner {width: 100%; padding: 0 14rem; box-sizing: border-box;}
footer .topf .box {display: block;}
footer .topf .box .box1 {flex: none; line-height: 5rem; text-align: center;}
footer .topf .box .box1 ul li {float:none; position: static; display: inline-block;}
footer .topf .box .box1 ul li ~ li:before {display: none;}
footer .topf .box .box1 ul li a {display: inline-block; padding: 0 1rem; font-size: 1.2rem; color: #fff; font-weight: 500;}
footer .topf .box .box2 {flex: none; width:auto; line-height: 5rem;}
/*underf*/
.underf {padding: 2rem 0 2rem;}
.underf .inner {position: static; width: 100%; padding: 0 14rem; box-sizing: border-box;}
.underf .footer_logo {position: static; background: url(../img/footer_logo.png) no-repeat;}
.underf address {padding-left: 0;}














