@charset "utf-8";

/*header*/
header {height: 5.3rem;}
.header1 {display: none;}
.btn_smallmenu {display: block;}
.header2 .inner h1 {float: none; padding: 0; position: absolute; top: 1rem; left: 1rem; z-index: 50;}
.header2 .inner h1 .logo {display: inline-block; width: 13.6rem; height: 3.4rem; background: url(../img/smalllogo.png) no-repeat;}
.menu_bar {display: none;}

/*contents영역*/
.contents .inner {width: 100%; padding: 0 2rem; box-sizing: border-box;}
/*preview-content*/
.preview-content {display: block;}
/*tab-box*/
.preview-content .tab-box {display: none;}
/*content*/
.preview-content .content {flex: none; padding-left: 0;}
.preview-content .content > div:first-child {padding: 2.2rem 0 7.5rem;}


/*footer영역*/
/*topf*/
footer .topf {background: #929398; line-height: 0;}
footer .topf .inner {width: 100%; padding: 0 14rem; box-sizing: border-box;}
footer .topf .box {display: block;}
footer .topf .box .box1 {flex: none; line-height: 5rem; text-align: center;}
footer .topf .box .box1 ul li {float:none; position: static; display: inline-block;}
footer .topf .box .box1 ul li ~ li:before {display: none;}
footer .topf .box .box1 ul li a {display: inline-block; padding: 0 1rem; font-size: 1.2rem; color: #fff; font-weight: 500;}
footer .topf .box .box2 {flex: none; width:auto; line-height: 5rem;}
/*underf*/
.underf {padding: 2rem 0 2rem;}
.underf .inner {position: static; width: 100%; padding: 0 14rem; box-sizing: border-box;}
.underf .footer_logo {position: static; background: url(../img/footer_logo.png) no-repeat;}
.underf address {padding-left: 0;}














