@charset "utf-8";

/*header*/
header {height: 5.3rem;}
.header1 {display: none;}
.btn_smallmenu {display: block;}
.header2 .inner h1 {float: none; padding: 0; position: absolute; top: 1rem; left: 1rem; z-index: 50;}
.header2 .inner h1 .logo {display: inline-block; width: 13.6rem; height: 3.4rem; background: url(../img/smalllogo.png) no-repeat;}
.menu_bar {display: none;}

/*contents영역*/
.contents .inner {width: 100%; padding: 0 .8rem; box-sizing: border-box;}
/*preview-content*/
.preview-content {display: block;}
/*tab-box*/
.preview-content .tab-box {display: none;}
/*content*/
.preview-content .content {flex: none; padding-left: 0;}
.preview-content .content > div:first-child {padding: 2.2rem 0 7.5rem;}
/*역사*/
/*table*/
table {border-top: .2rem solid #535a75; margin: 0 0 8rem;}
table tr {line-height: 4rem; border-bottom: .1rem solid #d5d5db;}
table th { font-size: 1.3rem;}
table td {font-size: 1.3rem;}
/*satisfy*/
.satisfy {margin: 0 0 3rem; border: .1rem solid #e2e2e2; line-height: 5.5rem; padding: 0 1rem; position: static;}
.satisfy strong {position: static;}
.satisfy .choice {text-align: left;}

/*창경궁 미리보기*/
/*map-box*/
.content .map-box {padding: 3.5rem 0 2.5rem; position: relative; height: 58rem}
.content .map-box img {width: 47.3rem; height: 25.2rem;}
/*number*/
.content .map-box .number ol {width: 100%; display: flex; flex-wrap: wrap; line-height: 3rem; position: relative; top:0; left: 0;}
.content .map-box .number ol li {width: 33.333%;}
.content .map-box .number ol .wp {width: 100%;}




/*footer영역*/
/*topf*/
footer .topf {background: #929398; line-height: 0;}
footer .topf .inner {width: 100%;}
footer .topf .box {display: block;}
footer .topf .box .box1 {flex: none; line-height: 5rem; text-align: center;}
footer .topf .box .box1 ul li {float:none; position: static; display: inline-block;}
footer .topf .box .box1 ul li ~ li:before {display: none;}
footer .topf .box .box1 ul li a {display: inline-block; padding: 0 .9rem; font-size: 1rem; color: #fff; font-weight: 500;}
footer .topf .box .box2 {flex: none; width:auto; line-height: 5rem;}
/*underf*/
.underf {padding: 1.4rem 0 2rem;}
.underf .inner {position: static; width: 100%; padding: 0 1.5rem; box-sizing: border-box;}
.underf .footer_logo {position: static; background: url(../img/footer_logo.png) no-repeat;}
.underf address {padding-left: 0;}
.underf address strong span {display: block; padding: 0 0 .4rem;}










































