@charset "utf-8";

@import url(all.min.css);
@import url(reset.css);
@import url(font.css);

/*header영역*/
header {width:100%; height: 90px; background: #298adb; position: fixed; z-index:10;}


/*logo영역*/
header .logo {position: absolute; top:24px; left: 30px; display: block; width: 81px; height: 46px; background: url(../img/logoW.png) no-repeat;}

/*gnb영역*/
header .gnb {text-align: center;}
header .gnb > ul > li {display: inline-block; margin: 0 40px;}
header .gnb > ul > li > a {font-size: 18px; font-family:'Roboto', sans-serif; font-weight: 700; color: #fff; line-height: 90px; position: relative;}
/*gnb영역 점열표시*/
header .gnb > ul .science > a:after {content: ""; position: absolute; top: -18px; width: 20px; height: 20px; background: #ffcc33; border-radius: 100%; animation: point infinite 1s alternate;}
header .gnb > ul .talk > a:after {content: ""; position: absolute; top: -18px; width: 20px; height: 20px; background: #ffcc33; border-radius: 100%; animation: point infinite 1s alternate;}



/*점열 애니메이션*/
@keyframes point {
    0% {opacity: 0;}
    100% {opacity: 1;}
}




/*subMenu영역*/
header .subMenu {position: absolute; top:90px; left:0; width:100%; height:50px; background:rgba(0, 0, 0, 0.32); display: none;}
header .subMenu > li {display: inline-block; margin: 0 40px;}
header .subMenu > li > a {font-family:'Noto Sans KR', sans-serif; font-weight: 300; color: #fff; line-height: 50px; position: relative;
}
header .gnb .subMenu li a:hover {border-bottom: 3px solid #c3bebe;}

/*subMenu 점열표시*/
header .subMenu .faq a:after {content: ""; position: absolute; top: -5px; right: -20px; width: 16px; height: 16px; border-radius: 100%; background: #ffcc33; animation: point infinite 1s alternate;}
header .subMenu .social a:after {content: ""; position: absolute; top: -5px; right: -20px; width: 16px; height: 16px; border-radius: 100%; background: #ffcc33; animation: point infinite 1s alternate;}
header .subMenu .story a:after {content: ""; position: absolute; top: -5px; right: -20px; width: 16px; height: 16px; border-radius: 100%; background: #ffcc33; animation: point infinite 1s alternate;}





/*shop영역*/
.shop {position: absolute; right: 30px; top:30px;}
.shop p {font-size: 18px; font-family:'Roboto', sans-serif; font-weight: 400; color: #fff;}
.shop p:before {content: ""; display: inline-block; width:20px; height:20px; background: url(../img/header_cartW.png) no-repeat 0 6px; margin-right:8px;}

/*visual영역*/
main {width:100%;}
.visual {height: 880px; background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/bg_visual.jpg) no-repeat center/cover; position: relative;}
.visual .visual-text {width: 1200px; margin: 300px auto;}
.visual .visual-text h2 {overflow: hidden; margin-bottom: 60px; font-size: 65px; font-family:'Roboto', sans-serif; font-weight:900; color: #fff;}
.visual .visual-text h2 span {display: block; transform: translateY(100%); animation: h2Ani 1s 1 both;}
.visual .visual-text p {font-size:20px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; color: rgba(255, 255, 255, 0.9); opacity: 0; animation: pAni 1s .7s 1 both;}

@keyframes h2Ani {
0% {transform: translateY(100%);}
100% {transform: translateY(0%);}
}

@keyframes pAni {
    0% {opacity: 0;}
    100% {opacity: 1; }
}

/*ionWater영역*/
.ionWater {height:728px; background: url(../img/bg_ionwater.jpg) no-repeat; padding: 190px 0 0; box-sizing: border-box;}
.ionWater .container {width: 1280px; margin: 0 auto; overflow: hidden;}
.ionWater .container .text-area {float: right;}
.ionWater .container .text-area .title {font-size: 18px; font-family:'Roboto', sans-serif; color: #009DD6; font-weight: 700;}
.ionWater .container .text-area p:nth-child(2) {margin: 10px 0 20px; font-size: 40px; color:#2f2f2f; font-family:'Noto Sans KR', sans-serif; font-weight: 300;}
.ionWater .container .text-area p:nth-child(2) span {color: #009DD6; font-family:'Noto Sans KR', sans-serif; font-weight: 700;}
.ionWater .container .text-area .explain {font-size: 15px; color: #888; line-height:22px;}
.ionWater .container .text-area a {display: inline-block; font-size:14px; padding: 10px 25px; border: 1px solid #009DD6; color:#009DD6; margin-top: 45px;}
.ionWater .container .text-area a:hover {color: #fff; background:#009DD6;}

/*introPoca영역*/
.introPoca .swiper-wrapper .swiper-slide {height: 930px; background: url(../img/bg_pocari1.jpg) no-repeat center/cover;}
.introPoca .mySwiper .swiper-slide:nth-child(2) {background-image: url(../img/bg_pocari2.jpg);}
.introPoca .mySwiper .swiper-slide:last-child {background-image: url(../img/bg_pocari3.jpg);}
.introPoca .mySwiper .textIntro {position: absolute; text-align: right; top:20%; left: 60%; z-index:10;}
.introPoca .swiper-button-next {display: none;}
.introPoca .swiper-button-prev {display: none;}
.introPoca .swiper-pagination {display: none;}
.introPoca .mySwiper .textIntro p {font-size: 40px; color: #a2ccde; font-family:'Noto Sans KR', sans-serif; font-weight: 300;}
.introPoca .mySwiper .textIntro p span {font-weight: 700;}
.introPoca .mySwiper .textIntro a {display: inline-block; font-size:14px; padding: 8px 18px; border: 1px solid #a2ccde; color:#a2ccde; margin-top:40px;}
.introPoca .mySwiper .textIntro a:hover {color: #fff; background:#009DD6; border: none;}

/*history영역*/
.history {height: 620px; background: #fff;}
.history .contain {width:1300px; height: 100%; margin: 0 auto}
.history .title {text-align: center; padding: 66px 0 60px;}
.history .title p:first-child {margin-bottom: 20px; font-family:'Roboto', sans-serif; color:#298adb;  font-weight: 700; font-size: 18px;}
.history .title p + p {font-size: 28px; font-family:'Noto Sans KR', sans-serif; font-weight: 300; color: #555;}
.history .title p + p span {font-weight: 700; color: #555;}
.history .contain ul {display: flex; justify-content: space-around;}
.history .contain ul li {text-align: center;  box-sizing: border-box; width: 300px; height: 300px; background: #fff; border-radius: 100%; border: 12px solid #c5e6fc; position: relative;} 
.history .contain ul li figure {position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%);}
.history .contain ul figcaption {padding: 15px 0 0;}
.history .contain ul figcaption p {font-family:'Noto Sans KR', sans-serif; font-size: 18px;}
.history .contain ul figcaption p:first-child {font-weight: 900; color:#298adb;}
.history .contain ul figcaption p + p {font-weight: 300; color: #a09f9f;}

/*story영역*/
.story .storySwiper .swiper-slide {height: 527px; background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url(../img/bg_story01.jpg) no-repeat center /cover;}
.story .storySwiper .swiper-wrapper .swiper-slide:nth-child(2) {background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/bg_story02.jpg) no-repeat center/cover;}
.story .storySwiper .swiper-wrapper .swiper-slide:nth-child(3) {background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url(../img/bg_story03.jpg) no-repeat center/cover;}
/*//swiper배경*/
.story .swiper-button-next {display: none;}
.story .swiper-button-prev {display: none;}
.story .swiper-pagination {display: none;}
.story .storySwiper .center {width: 1200px; margin:100px auto;}
.story .storySwiper .story-text {width: 550px; color: #fff;}
.story .storySwiper .story-text p:first-child {font-family:'Noto Sans KR', sans-serif; font-weight:400; font-size: 20px;}
.story .storySwiper .story-text p:nth-child(2) {margin: 20px 0 78px; font-family:'Noto Sans KR', sans-serif; font-size: 30px; font-weight: 600;}
/*story 세번째p 말줄임표css*/
.story .storySwiper .story-text p:nth-child(3){font-family:'Noto Sans KR', sans-serif; font-weight: 300; font-size:16px; color:#bab8b8;
display: -webkit-box; overflow: hidden; text-overflow: ellipsis; line-height: 1.7; -webkit-line-clamp:2; -webkit-box-orient:vertical;
margin-bottom: 100px;}

.story .storySwiper .story-text a { color: #ffc118; font-family: 'Roboto', sans-serif; font-weight: 300;}
.story .storySwiper .story-text a:after {content: '\f054'; font-family: 'Font Awesome 5 Free'; font-weight: 600; margin-left: 10px;}

/*news영역*/

.news {height: 670px;}
.news .news-wrap {width: 1200px; height: 100%; margin: 0 auto;}
.news .news-wrap h2 {padding: 85px 0 30px; font-size: 50px; font-family:'Roboto', sans-serif; font-weight: 900; color:#298adb;}
.news .news-wrap .newsArea {display: flex; justify-content: space-between}
.news .news-wrap .newsArea a {display: inline-block; width: 282px; height: 430px; text-align: center; color: #fff;  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/img_news01.jpg) no-repeat center/cover;}
.news .news-wrap .newsArea a:nth-child(2) {background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/img_news02.jpg) no-repeat center/cover;}
.news .news-wrap .newsArea a:nth-child(3) {background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/img_news03.jpg) no-repeat center/cover;}
.news .news-wrap .newsArea a:last-child {background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/img_news04.jpg) no-repeat center/cover;}
.news .news-wrap .newsArea a p {font-family:'Noto Sans KR', sans-serif; font-weight: 300;}
.news .news-wrap .newsArea a p:first-child {margin-top: 35px;}
.news .news-wrap .newsArea a p:nth-child(2) {margin: 20px 0 252px; font-weight: 500; font-size: 18px;}
.news .news-wrap .newsArea ul {overflow: hidden;}
.news .news-wrap .newsArea li {float: left; border: 1px solid #fff; padding: 5px 6px;}
.news .news-wrap .newsArea li:first-child {margin:0 10px 0 20px;}

/*model영역*/
.model .modelSwiper .swiper-wrapper {height: 937px;}
.model .modelSwiper .swiper-slide {background: url(../img/bg_pocarigirl06.jpg) no-repeat center/cover;}
.model .modelSwiper .swiper-slide:nth-child(2) {background: url(../img/bg_pocarigirl01.jpg) no-repeat center/cover;}
.model .modelSwiper .swiper-slide:nth-child(3) {background: url(../img/bg_pocarigirl02.jpg) no-repeat center/cover;}
.model .modelSwiper .swiper-slide:nth-child(4) {background: url(../img/bg_pocarigirl03.jpg) no-repeat center/cover;}
.model .modelSwiper .swiper-slide:nth-child(5) {background: url(../img/bg_pocarigirl04.jpg) no-repeat center/cover;}
.model .modelSwiper .swiper-slide:nth-child(6) {background: url(../img/bg_pocarigirl05.jpg) no-repeat center/cover;}


/*model-text*/
.model .modelSwiper .swiper-slide .model-text {position: absolute; width: 1200px; height: 300px; top:90%; left: 50%; transform: translate(-50%,-50%); background: rgba(255, 255, 255, 0.69); text-align: center;}
.model .modelSwiper .swiper-slide .model-text p:first-child {margin: 80px 0 17px; font-family:'Roboto', sans-serif; font-size: 60px; font-weight: 900; color: #298adb; }
.model .modelSwiper .swiper-slide .model-text p + p {font-size: 18px; color: #444; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; }


/*social영역*/
.social {height: 1160px;}
.social .social-area {width: 1200px; height: 1160px; margin: 0 auto; position: relative;}
.social .social-area h2 {padding: 85px 0 28px; font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 50px; color: #D8D8D8;}
.social .social-area .sns {position: absolute; top:85px;right:0; width: 165px;}
.social .social-area .sns li {float: left; width: 25px; padding: 0 15px; position: relative;}
.social .social-area .sns li:after {position: absolute; content: ""; width: 2px; height: 17px; top: 4px; right: 0; background: #c1bebe;}
.social .social-area .sns li:last-child:after {display: none;}
.social .social-area .sns .facebook {display: inline-block; width: 25px; height: 25px; background: url(../img/ico_mainfacebook.png) no-repeat center;}
.social .social-area .sns .insta {display: inline-block; width: 25px; height: 25px; background: url(../img/ico_maininstagram.png) no-repeat center;}
.social .social-area .sns .youtube {display: inline-block; width: 25px; height: 25px; background: url(../img/ico_mainyoutube.png) no-repeat center;}
/*//sns*/
.social .social-area .video img {width: 376px; height: 282px;}
.social .social-area .video li {width: 375px; height: 370px; float: left; margin: 0 35px 75px 0; }
.social .social-area .video li:nth-child(3n) {margin-right: 0;}
.social .social-area .video li a .youtube {margin: 20px 0 10px; padding: 10px 15px; border-radius: 30px; display: inline-block; font-size: 14px; background: #e55a84; color: #fff;}
.social .social-area .video li a p:last-child {font-size: 16px; color: #444;}
.social .social-area .video li div {width:376px; height: 282px; overflow: hidden;}
.social .social-area .video li div img {transition: all .3s;}
.social .social-area .video li:hover img {transform: scale(1.2); filter: contrast(150%);}







/*footer영역*/
.top {height: 320px; background: #282828;}
.top .list {width:1200px; margin: 0 auto; padding-top: 75px;}
.top .list > li {position: relative; width:110px; float: left; padding: 0 70px 0 20px;}
.top .list > li:after {content: ""; position: absolute; top:0; right: 0; display: inline-block; width: 1px; height: 177px; background: rgba(96, 96, 96, 0.42);}
.top .list > li:last-child:after {display: none;}
.top .list > li strong {display: inline-block; color: #fff; font-family:'Roboto', sans-serif; font-size:14px; margin-bottom: 25px;}
.top .list > li ul li {width:150px; font-size: 14px; color: #606060; line-height:26px;}
.top .list > li ul li a:hover {border-bottom: 1px solid #606060;}
.top .list > li ul li select {width:115px; height: 40px; background: #1c1c1c; border: none; color: #6a6a6a; text-indent: 8px;}

/*address*/
address {height: 50px; background: #141414; text-align: center; line-height: 50px; color: #525252; font-family:'Roboto', sans-serif; font-size: 15px; font-weight: 600;}

