@charset "utf-8";

@import url(reset.css);
@import url(font.css);

body {font-family:'Nanum Gothic', sans-serif;}
main {width: 1100px; margin: 0 auto;}

/*header영역*/
header {width:100%; height: 90px; background: #fff; position: fixed; z-index:10;}


/*logo영역*/
header .logo {position: absolute; top:24px; left: 30px; display: block; width: 81px; height: 46px; background: url(../img/logoB.png) no-repeat;}


/*gnb영역*/
header .gnb {text-align: center;}
header .gnb > ul > li {display: inline-block; margin: 0 40px;}
header .gnb > ul > li > a {font-size: 18px; font-family:'Roboto', sans-serif; font-weight: 500; color: #000; line-height: 90px;}

/*subMenu영역*/
header .subMenu {position: absolute; top:90px; left:0; width:100%; height:50px; background:#2261a3; display: none;}
header .subMenu > li {display: inline-block; margin: 0 40px;}
header .subMenu > li > a {font-family:'Noto Sans KR', sans-serif; font-weight: 300; color: #fff; line-height: 50px;
}
header .gnb > ul > li:hover .subMenu {display: block;}
header .gnb .subMenu li a:hover {border-bottom: 3px solid rgba(255, 255, 255, 0.65);}


/*shop영역*/
.shop {position: absolute; right: 30px; top:30px;}
.shop p {font-size: 18px; font-family:'Roboto', sans-serif; font-weight: 400; color: #000;}
.shop p:before {content: ""; display: inline-block; width:20px; height:20px; background: url(../img/header_cartB.png) no-repeat 0 6px; margin-right:8px;}

/*visual영역*/
.visual {text-align: center; padding-top:90px; height: 400px;}
.visual:after {content: ""; position: absolute; top:90px; left:0; right:0; height: 490px; z-index: -1; background:url(../img/bg_visualsub4_social.jpg) no-repeat center;}
.visual .visual-text {position: relative; top:165px; transform: translateY(100%); animation: visual-textAni 1s 1 both;}
.visual .visual-text p:nth-of-type(1) {display: inline-block; padding:0 25px 20px; position: relative; color: #fff; font-weight:600; letter-spacing:4px;}
.visual .visual-text p:nth-of-type(1):after {content: ""; display: block; width: 355px; height: 2px; background: #ffffff; position: absolute; bottom:0; left:0}
.visual .visual-text .main-title {font-size: 40px; color: #fff; font-weight: 300; margin-top: 40px; position: relative;}
.visual .visual-text .main-title:before {content: ""; display: inline-block; position: absolute; top: 80px; left: 540px; width: 19px; height: 12px; background: url(../img/bg_down.png) no-repeat; }
.visual .visual-text .main-title:after {content: ""; display: inline-block; position: absolute; top: 90px; left: 540px; width: 19px; height: 12px; background: url(../img/bg_down.png) no-repeat;}
.visual .visual-text .main-title span {font-weight: 600;}


@keyframes visual-textAni {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0%);}
}


/*contents-snsLive영역*/
/*포카리스웨트 SNS&LIVE*/
.contents-snsLive {background: #fff; border:1px solid #fff;}
.contents-snsLive .p {margin: 75px 0 50px; text-align: center;}
.contents-snsLive .p p {display: inline-block; padding-bottom: 30px; position: relative; font-size: 30px; color: #343434; font-weight: 300;}
.contents-snsLive .p p:after {position: absolute; content: ""; left: 200px; bottom: 0; width: 40px; height: 3px; background: #000;}
.contents-snsLive .p p span:first-child {font-size: 14px; color: #298adb; font-weight: 300; padding: 5px 10px; border: 1px solid #298adb; border-radius: 15px; vertical-align: 7px;}
.contents-snsLive .p p span:last-child {font-weight: 900;}
/*sns*/
.contents-snsLive .sns {width: 247px; margin: 0 auto 75px;}
.contents-snsLive .sns li {width: 29.75px; height: 30px; padding: 0 16px; float: left; position: relative;}
.contents-snsLive .sns li:after {content: ""; position: absolute; top: 5px; right: 0; width: 2px; height: 20px; background:#d4d4d4;}
.contents-snsLive .sns li:last-child:after {display: none;}
.contents-snsLive .sns li .all {display: inline-block; width:30px; height: 30px; background: url(../img/ico_all.png) no-repeat;}
.contents-snsLive .sns li .facebook {display: inline-block; width:30px; height: 30px; background: url(../img/ico_facebook.png) no-repeat;}
.contents-snsLive .sns li .instagram {display: inline-block; width:30px; height: 30px; background: url(../img/ico_instagram.png) no-repeat;}
.contents-snsLive .sns li .youtube {display: inline-block; width:30px; height: 30px; background: url(../img/ico_youtube.png) no-repeat;}
/*social-list*/
.contents-snsLive .social-list li {width: 344px; margin: 0 33px 72px 0; float: left;}
.contents-snsLive .social-list li:nth-child(3n) {margin-right: 0;}
.contents-snsLive .social-list li a .text .insta {display: inline-block; margin: 23px 0 15px; padding: 10px 15px; font-size: 14px; color: #fff; background: #b11d72; border-radius: 30px;}
.contents-snsLive .social-list li a .text .line {line-height: 25px;}
.contents-snsLive .social-list li a .text .line p {color: #444;}
.contents-snsLive .social-list li a .text .line span {color: #298adb; font-weight: 500;}



/*btn_more*/
.contents-snsLive .box-more {text-align: center;}
.contents-snsLive .btn_more {display: inline-block; width: 96px; height: 96px; border: 1px solid #000;}
.contents-snsLive .btn_more p {padding-top: 62px; font-size: 14px; font-weight: 300; position: relative; }
.contents-snsLive .btn_more p:before {content: ""; display:block; position: absolute; top:20px; left: 34px; width:25px; height: 25px; background: url(../img/bg_btn-more.png) no-repeat;}
.contents-snsLive .btn_more p span {color: #ed4040;}



/*footer-move영역*/
.move {text-align: center; padding-top:200px }
.move li {width: 50%; height:168px; float: left;}
.move li a {display: block; padding-top: 65px; line-height:30px; color: #fff;}
.move li a strong {font-size: 20px;}
.move li a p {font-size: 15px; font-weight: 300;}
.move .event {background:url(../img/bg_event.jpg) no-repeat center/cover;}
.move .gallery {background: url(../img/bg_gallery.jpg) no-repeat center/cover;}



/*footer영역*/
.top {height: 320px; background: #282828;}
.top .list {width:1200px; margin: 0 auto; padding-top: 75px;}
.top .list > li {position: relative; width:110px; float: left; padding: 0 70px 0 20px;}
.top .list > li:after {content: ""; position: absolute; top:0; right: 0; display: inline-block; width: 1px; height: 177px; background: rgba(96, 96, 96, 0.42);}
.top .list > li:last-child:after {display: none;}
.top .list > li strong {display: inline-block; color: #fff; font-family:'Roboto', sans-serif; font-size:14px; margin-bottom: 25px;}
.top .list > li ul li {width:150px; font-size: 14px; color: #606060; line-height:26px;}
.top .list > li ul li a:hover {border-bottom: 1px solid #606060;}
.top .list > li ul li select {width:115px; height: 40px; background: #1c1c1c; border: none; color: #6a6a6a; text-indent: 8px;}

/*address*/
address {height: 50px; background: #141414; text-align: center; line-height: 50px; color: #525252; font-family:'Roboto', sans-serif; font-size: 15px; font-weight: 600;}

