@charset "utf-8";

html {font-family: "IBMPlexSansKR", sans-serif;}
header {line-height:70px; background:#000; text-align: center; margin: 0 0 15px;}
header a {color: #fff; font-weight: 600; padding: 0 20px; margin: 0 10px;}


iframe {width: 100%; border: 20px solid #000; height: 780px; box-sizing: border-box;}
.frame {margin: 20px auto 0; width: 100%; transition: width .4s;}
.frame .top {position: relative; height: 50px; border-radius: 20px 20px 0 0; background: #000; overflow: hidden;}
.frame .top:after {content: ""; position: absolute; left: 50%; bottom: 0px; background: #fff; transform: translateX(-50%); transition: all .3s; width: 20px; height: 20px; border-radius: 100%;}
.frame[style*="100%"] .top:after {width: 20px; height: 20px; border-radius: 100%;}
.frame[style*="500"] .top:after {width: 100px; height: 3px; border-radius: 3px;}
.frame[style*="1024"] .top:after {display: none;}

.nav {text-align: center; margin-top: 20px;}
.nav button {background: #ffcc33; color: #000; line-height: 25px; border-radius: 3px;}
.nav .active {background: #000; color: #fff;}
.turn_on {color: #F6B93A;}

/*mobile*/
.mobileIframe {width: 500px;}
.mobileFrame {margin: 20px auto 0; width: 500px; transition: width .4s;}
.mobileFrame .top:after {width: 100px; height: 3px; border-radius: 3px;}


/* intro */
/* .hidden {
    visibility: hidden;
    opacity: 0;
} */
.intro {
    position: fixed;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 150;
    animation: introMove 0.5s ease-in-out 6s forwards;
}
.intro.porfolio01 {
    background-color: #298adb;
}
.intro.porfolio02 {
    background-color: #19355b;
}
.intro.porfolio03 {
    background-color: #b15e58;
}
.intro .intro__wrap {
    display: flex;
    width: 1080px;
    justify-content: space-between;
    animation: introWrapFadeInOut 1s ease-in-out 5s forwards;
}
.intro .intro__wrap .intro__title p {
    color: #fff;
    font-weight: 700;
    font-family: 'IBMPlexSansKR';
    padding: 4rem 0 1rem;
}
.intro .intro__wrap .intro__desc {
    color: #fff;
    font-weight: 700;
    font-family: 'IBMPlexSansKR';
    margin-top: 7rem;
    font-size: 18px;
}
.intro .intro__wrap .intro__partip {
    color: #fff;
    font-weight: 700;
    font-family: 'IBMPlexSansKR';
    margin-top: 7rem;
    text-align: right;
}
.intro .intro__wrap .intro__partip span {
    display: block;
}

@keyframes introWrapFadeInOut {
    0% {
        transform: translateY(0); /* 중간 위치 */
        opacity: 1; /* 완전히 보이는 상태 */
    }
    100% {
        transform: translateY(-60px); /* 끝 위치 */
        opacity: 0; /* 완전히 사라진 상태 */
    }
}

@keyframes introMove {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}




